@tailwind base;

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--neutral) var(--default);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: var(--neutral);
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--neutral);
	border-radius: 14px;
	border: 3px solid var(--default);
}

@tailwind components;
@tailwind utilities;
